@model project_webbservice.Models.Avatar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>
    <div>
        <h4>Avatar - delete</h4>
        <hr />
        <div class="col-md-4 my-5 avatar-create-box">

            <h3>Are you sure you want to delete this avatar?</h3>

            <img class="delete-avatar-image" src="~/imgupload/@Model.AvatarImageName" alt="avatar-img" />

            @* <dl class="row">
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarImageName)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvatarImageName)
            </dd>
            </dl> *@

            <form asp-action="Delete">
                <input type="hidden" asp-for="AvatarId" />
                <button type="submit" value="Delete" class="button delete">Delete</button>
                <a asp-action="Index" class="button standard">Back to List</a>
            </form>



        </div>
    </div>
</body>

</html>



<style>
    .delete-avatar-image {
        max-width: 10em;
        padding: 1em;
    }
</style>