@model project_webbservice.Models.Avatar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>

    <div>
        <h4>Avatar - details</h4>
        <hr />
        <div class="avatar-create-box col-md-7 col-sm-10 ">
            <img class="details-avatar-image" src="~/imgupload/@Model.AvatarImageName" alt="avatar-img" />
            <div class="d-flex">
                <dt class="">
                    @Html.DisplayNameFor(model => model.AvatarId):
                    &nbsp;
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.AvatarId)
                </dd>
                </dl>
            </div>
            <div class="d-flex">
                <dt class="">
                    @Html.DisplayNameFor(model => model.AvatarImageName):
                    &nbsp;
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.AvatarImageName)
                </dd>
                </dl>
            </div>

            <div class="my-4">
                <a class="button standard" asp-action="Index">Back to List</a>
                <a class="button standard" asp-action="Edit" asp-route-id="@Model?.AvatarId">Edit</a>
                <a class="button delete" asp-action="Delete" asp-route-id="@Model?.AvatarId">Delete</a>
            </div>

        </div>
</body>

</html>


<script></script>
<style>
    .details-avatar-image {
        max-width: 10em;
        padding: 1em;
    }
</style>