@model project_webbservice.Models.Avatar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>

<body>

    <h4>Avatar - edit</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 my-5 avatar-create-box">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AvatarId" />
                <div class="form-group">
                    <label asp-for="AvatarImageFile" class="control-label"></label>
                    <input asp-for="AvatarImageFile" class="form-control" />
                    <span asp-validation-for="AvatarImageFile" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Save" class="button standard" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>

</html>
