@model project_webbservice.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>

<body>

    <h4>Category - create</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-10 my-5 category-create-box">
            <h5>Add new category</h5>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Create" class="button standard" />
                    <a class="button standard" asp-action="Index"><i class="fa-solid fa-angle-left"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
