@model project_webbservice.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>

    <div>
        <h4>Category - details</h4>
        <hr />
        <div class="col-md-5 my-5 category-create-box">
            <dl class="row">
                <dt class="col-sm-2">
                    Category name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>

            <div>
                @if (ViewBag.AudioCount > 0)
                {
                    <p>Number of audios in this category: @ViewBag.AudioCount</p>
                }
                else
                {
                    <p>Numbers of audios in this category.</p>
                }
            </div>

            <div class="mt-4">
                <a class="button standard" asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a>
                <a class="button standard" asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</body>

</html>
