@model project_webbservice.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>

    <div>
        <h4>Category - details</h4>
        <hr />
        <div class="col-md-5 my-5 category-create-box">
            <dl class="row">
                <dt class="col-sm-4">
                    Category
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>

            <div>
                <p>Number of audios in this category: @(ViewBag.AudioCount ?? 0) </p>
            </div>

            <div class="mt-4">
                <a class="button standard" asp-action="Edit" asp-route-id="@Model?.CategoryId"><i class="fa-solid fa-pencil"></i> Edit </a>
                <a class="button standard mx-1" asp-action="Index"><i class="fa-solid fa-angle-left"></i> Back to List</a>
            </div>

        </div>
    </div>
</body>

</html>
