@model project_webbservice.Models.UserListAudio

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserListAudio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audio.AudioID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserListAudioID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
