@model project_webbservice.Models.UserListAudio

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>UserListAudio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Audio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Audio.AudioID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserListAudioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
