@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-7">HeadSpace!</h2>
    <p>Hello @User.Identity?.Name</p>
    <img src="~/images/space.png" alt="hero image" class="index-hero-img my-4" />
</p>
</div>
