@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-7">Welcome to MindSpace admin page</h2>
    <p>@User.Identity?.Name</p>
    <img src="~/images/headspaceicon.png" alt="hero image" class="index-hero-img my-4" />
</p>
</div>
