/* BUTTONS */

/* all button */
.button {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.6em 2.2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /* background-color: rgb(209, 209, 209); */
    transition: 0.2s;
    height: 2.7em;
}

.button:hover {
    border: 1px solid rgba(128, 128, 128, 0.5);
    /* background-color: rgb(209, 209, 209); */
}

/* standard */
.standard {
    background-color: rgb(35, 35, 35);
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

.standard:hover {
    background-color: rgb(21, 21, 21);
    color: rgb(255, 255, 255) !important;
}

/* delete */
.delete {
    background-color: rgb(255, 40, 40);
    border: 1px solid rgb(255, 40, 40);
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

.delete:hover {
    background-color: rgb(211, 0, 0);
    border: 1px solid rgb(255, 40, 40);
    color: white !important;
}

.link {
    color: white;
}

.link {
    color: rgb(255, 255, 255) !important;
}

.link:hover {
    color: rgb(196, 196, 196) !important;
}

.full-size {
    width: 100% !important;
    text-align: center;
    border: 1px solid rgb(72, 72, 72);
}


@media (max-width: 771px) {
    .button {
        font-size: 0.8em;
        border: 1px solid rgb(197, 197, 197);
    }
}