html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* HOME : Controller */

.index-hero-img {
  width: 25% !important;
}


/* AUDIO : Controller */

.audio-box {
  background-size: cover;
  min-height: 20em;
  height: fit-content;
  color: white;
  border-radius: 10px;
  transition: 0.2s;
  border: 1px solid rgb(193, 193, 193);
}

.audio-box:hover {
  border: 1px solid rgb(102, 102, 102);
  cursor: pointer;
  opacity: 0.7;
}

.audio-box:hover .title,
.audio-box:hover .description,
.audio-box:hover .category {
  color: rgb(0, 0, 0) !important;
}

.audio-box-content {
  padding: 0.5em;
}

.audio-box .title {
  font-size: 1.3em;
}

.audio-box .description {
  font-size: 1em;
}

.audio-box .category {
  color: white !important;
}

.audio {
  width: 100%;
  height: 2.5em !important;
  border-radius: 3px;
}

.button-box {
  background-color: rgb(0, 0, 0, 0.2);
  height: 2em;
}

.button-box a {
  color: white !important;
}

.audio-create-box,
.audio-edit-box,
.audio-details-box {
  width: 50% !important;
  margin: 0 auto;
  /* width: fit-content;  */
}

#audio-cards {
  display: block;
}

.audio-table-row:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

#audio-table {
  display: none;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1012px) {
  .audio-box {
    min-height: 20em;
  }

  #audio-table {
    display: none;
    width: 100%;
    margin: 0 auto;
  }

  .audio-create-box,
  .audio-edit-box,
  .audio-details-box {
    width: 75% !important;
  }
}

@media (max-width: 772px) {
  .audio-box {
    min-height: 15em;
  }

  #audio-cards {
    padding: 0 1em !important;
  }
}



/* AVATAR : Controller */

.avatar-img-box {
  width: 9em;
  margin: 0.2em;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 6px;
  transition: 0.2s;
}

.avatar-img-box:hover {
  border: 1px solid rgb(0, 0, 0, 0.6);
  background-color: rgb(248, 248, 248);
  opacity: 0.8;
}

.avatar-img {
  padding: 1em;
  width: 7em;
}

.avatar-create-box {
  margin: 0 auto;
}

@media (max-width: 776px) {}



/* CATEGORY : Controller */

.category-create-box,
.category-edit-box {
  margin: 0 auto;
}

.category-index-table {
  width: 50%;
  margin: auto;
}

@media (max-width: 991px) {
  .category-index-table {
    width: 100%;
  }
}


/* USER */

.user-edit-box,
.user-details-box {
  margin: 0 auto;
}

.user-table-row:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}